
<h2 class = "user-post">フォロー中のユーザーの投稿一覧</h2>

<div class = "root-box">
  <%= link_to 'トップに戻る', root_path, class:"root-index" %>
</div>

<% if posts == [] %>
  <h2 class = "follow-empty">フォロー中のユーザーの投稿はまだありません</h2>
<% else %>
  <% if user_signed_in? %>
  <div class = "post-contents">
    <ul class = "post-list" >
    <% posts.each do |post| %>
      <li class = "list" >
        <%= render "shared/image_contents", post: post %>
        <h3 class='post-title'>
          <span class = "like-box" id="like_<%= post.id %>">
            <%= render "shared/show_like", post: post %>
          </span>
          <%= post.title %>
        </h3>
        <%= link_to post_path(post.id) do %>
        <p class = "root-show">--クリックして詳細を見る--</p>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
  <% else %>
  <div class = "post-contents">
    <ul class = "post-list" >
    <% posts.each do |post| %>
      <li class = "list">
        <%= render "shared/image_contents", post: post %>
        <h3 class='post-title'>
        <div class = "like-box" >
        <i class="fa fa-heart like-btn"></i>
        <%= post.likes.size %>
        </div>
        <%= post.title %>
        </h3>
        <p class = "like-info">＊いいねするにはログインが必要です</p>
        <%= link_to post_path(post.id) do %>
        <p class = "root-show">--クリックして詳細を見る--</p>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
  <% end %>
<% end %>

<%= link_to new_post_path, class: 'post-btn' do %>
  <span class='post-btn-text'>投稿する</span>
<% end %>

