
<h2 class = "user-post">いいねした投稿一覧</h2>

<div class = "root-box">
  <%= link_to 'トップに戻る', root_path, class:"root-index" %>
</div>


<div class = "post-contents">
  <% if @likes != [] %>
    <ul class = "post-list" >
    <% @likes.each do |like| %>
      <% post = like.post %>
      <li class = "list">
        <%= render "shared/image_contents", post: post %>
        <h3 class='post-title'>
        <span class = "like-box" id="like_<%= post.id %>">
        <%= render "shared/show_like", post: post %>
        </span>
        <%= post.title %>
        </h3>
        <%= link_to post_path(post.id) do %>
        <p class = "root-show">--クリックして詳細を見る--</p>
        <% end %>
      </li>
    <% end %>
    </ul>
  <% else %>
    <h2 class = "user-post">いいねした投稿はまだありません</h2>
  <% end %>
</div>

<%= link_to new_post_path, class: 'post-btn' do %>
  <span class='post-btn-text'>投稿する</span>
<% end %>