<%= render "shared/header"%>
<h2 class = "user-post"><%= @nickname %>さんのマイページ</h2>

<% if user_signed_in? && current_user.id != @user.id %>
  <div class="follow-box" id="follow-ajax">
    <%= render "shared/follow", user: @user %>
  </div>
<% end %>

<div class="change-box">
<% if user_signed_in? %>
  <% if current_user.id == @user.id %>
    <%= link_to '自分の投稿を見る', users_path, class: "change", remote: true %>
    <%= link_to 'フォローしてるユーザーの投稿を見る', relationships_path, class:"change", remote: true %>
    <%= link_to 'いいねした投稿を見る', likes_path, class: "change", remote: true %>
  <% else %>
    <%= link_to 'マイページでフォローしたユーザーの投稿を見る', user_path(current_user.id), class: "change" %>
  <% end %>
<% end %>
</div>

<div id="ajax">
<h2 class = "user-post"><%= @nickname %>さんの投稿一覧</h2>
<div class = "root-box">
  <%= link_to 'トップに戻る', root_path, class:"root-index" %>
</div>

<% if user_signed_in? %>
  <div class = "post-contents">
  <% if @posts != [] %>
    <ul class = "post-list" >
    <% @posts.each do |post| %>
      <li class = "list">
        <%= render "shared/image_contents", post: post %>
        <h3 class='post-title'>
        <span class = "like-box" id="like_<%= post.id %>">
        <%= render "shared/show_like", post: post %>
        </span>
        <%= post.title %>
        </h3>
        <%= link_to post_path(post.id) do %>
        <p class = "root-show">--クリックして詳細を見る--</p>
        <% end %>
      </li>
    <% end %>
    </ul>
  <% else %>
    <h2 class = "user-post"><%= @nickname %>さんの投稿はまだありません</h2>
  <% end %>
  </div>
<% else %>
  <div class = "post-contents">
    <ul class = "post-list" >
    <% @posts.each do |post| %>
      <li class = "list">
        <%= render "shared/image_contents", post: post %>
        <h3 class='post-title'>
        <div class = "like-box" >
        <i class="fa fa-heart like-btn"></i>
        <%= post.likes.count %>
        </div>
        <%= post.title %>
        </h3>
        <p class = "like-info">＊いいねするにはログインが必要です</p>
        <%= link_to post_path(post.id) do %>
        <p class = "root-show">--クリックして詳細を見る--</p>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
<% end %>



<%= paginate(@posts) %>

<%= link_to new_post_path, class: 'post-btn' do %>
  <span class='post-btn-text'>投稿する</span>
<% end %>
</div>
<%= render "shared/footer"%>