<%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<%= link_to 'いぬ', post_category_path(2), class:"responsive-hidden" %>
<%= link_to 'ねこ', post_category_path(3), class:"responsive-hidden" %>
<%= link_to 'ウサギ', post_category_path(4), class:"responsive-hidden" %>
<%= link_to 'ハムスター', post_category_path(5), class:"responsive-hidden" %>
<%= link_to 'リス', post_category_path(6), class:"responsive-hidden" %>
<%= link_to 'インコ・オウム', post_category_path(7), class:"responsive-hidden" %>
<%= link_to 'フクロウ', post_category_path(8), class:"responsive-hidden" %>
<%= link_to 'カメ', post_category_path(9), class:"responsive-hidden" %>
<%= link_to 'カワウソ', post_category_path(10), class:"responsive-hidden" %>
<%= link_to 'その他', post_category_path(11), class:"responsive-hidden" %>

<div class=category-box>
  <div class="category-list" id="category">
    <div class="category-top" id="category-top">カテゴリーで探す</div>
    <ul class="category" id="hidden">
      <%= link_to post_category_path(2), class:"hidden" do %><li>いぬ</li><% end %>
      <%= link_to post_category_path(3), class:"hidden" do %><li>ねこ</li><% end %>
      <%= link_to post_category_path(4), class:"hidden" do %><li>ウサギ</li><% end %>
      <%= link_to post_category_path(5), class:"hidden" do %><li>ハムスター</li><% end %>
      <%= link_to post_category_path(6), class:"hidden" do %><li>リス</li><% end %>
      <%= link_to post_category_path(7), class:"hidden" do %><li>インコ・オウム</li><% end %>
      <%= link_to post_category_path(8), class:"hidden" do %><li>フクロウ</li><% end %>
      <%= link_to post_category_path(9), class:"hidden" do %><li>カメ</li><% end %>
      <%= link_to post_category_path(10), class:"hidden" do %><li>カワウソ</li><% end %>
      <%= link_to post_category_path(11), class:"hidden" do %><li>その他</li><% end %>
    </ul>
  </div>
</div>
