<%= render "shared/header"%>

<div class = "home-content">
  <div class = "center">
   <h2>Anipho</h2>
   <p>Aniphoはあなたの可愛いペットを動物好きな人達に自慢できるwebアプリケーションです</p>
  </div>
</div>

<%= form_with( local: true, class: "search-form") do |form| %>
  <%= form.text_field :hoge, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<%= link_to new_post_path, class: 'post-btn' do %>
  <span class='post-btn-text'>投稿する</span>
<% end %>

<%= render  "shared/footer" %>
