<%= render "shared/header"%>

<div class = "home-content">
  <div class = "center">
   <h2>Anipho</h2>
   <p>Aniphoはあなたの可愛いペットを動物好きな人達に自慢できるwebアプリケーションです</p>
  </div>
</div>

<%= render "shared/search_form" %>

<% if @posts == [] %>
<h2 class = "empty" >投稿はまだありません</h2>
<% else %>
<div class = "post-contents">
  <ul class = "post-list" >
  <% @posts.each do |post| %>
    <div id="post_<%= post.id %>">
    <%= render "shared/post", post: post %>
    </div>
  <% end %>
  </ul>
</div>
<% end %>

<%= link_to new_post_path, class: 'post-btn' do %>
  <span class='post-btn-text'>投稿する</span>
<% end %>

<%= render  "shared/footer" %>