
<%= render "shared/header" %>
  <div class = "show-main">
    <div class = "show-contents">
      <div class= "image-content">
        <div class="swiper-container">
          <div class = "swiper-wrapper show-img">
          <% @post.images.each do |image| %>
            <%= image_tag image, class: "swiper-slide show-img" %>
          <% end %>
          </div>
          <% if @post.images.length > 1 %>
          <div class="swiper-button-prev swiper-button-white"></div>
          <div class="swiper-button-next swiper-button-white"></div>
          <div class="swiper-pagination"></div>
          <% end %>
        </div>
      </div>
      <% if user_signed_in? && current_user.id == @post.user.id %>
      <div class = "btn-contents">
        <%= link_to '編集する', edit_post_path(@post.id), class: "edit-btn"%>
        <%= link_to '削除する', post_path(@post.id), method: :delete, class: "delete-btn"%>
      </div>
      <% end %>
      <div class ="time">投稿日時：<%= l @post.created_at %></div>
      <% if user_signed_in? %>
      <div class= "like">いいね</div>
      <div class = "like-show" id="like_<%= @post.id %>">
        <%= render "shared/show_like", post: @post %>
      </div>
      <% else %>
      <div class = "like-show">
        <div class= "like">いいね</div>
        <div class = "unlike-show">
        <i class="fa fa-heart like-btn"></i>
        <%= @post.likes.size %>
        </div>
        <p class ="like-info">＊いいねするにはログインが必要です</p>
      </div>
      <% end %>
      <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= @post.user.nickname %><%= link_to '[このユーザーの投稿を見る]', user_path(@post.user.id), class: "root-user"%></td>
        </tr>
        <tr>
          <th class="detail-item">タイトル</th>
          <td class="detail-value"><%= @post.title %></td>
        </tr>
        <tr>
          <th class="detail-item">ペットの名前</th>
          <td class="detail-value"><%= @post.animal_name %></td>
        </tr>
        <tr>
          <th class="detail-item">ペットの種類、カテゴリー</th>
          <td class="detail-value"><%= @post.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">写真の説明、自由記入欄</th>
          <td class="detail-value"><%= @post.explanation %></td>
        </tr>
      </tbody>
      </table>
      <div class="comment-container">
        <div class = "comment-box">
        <h2>気になった投稿にコメントしよう!</h2>
        <% if user_signed_in? %>
          <%= form_with(model: [@post, @comment], remote: true) do |form| %>
            <%= form.text_area :content, placeholder: "コメントする", rows: "2" %>
            <%= form.submit "コメントを送信する" %>
          <% end %>
        <% else %>
          <strong><p class = "alert">※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p>
          </strong>
        <% end %>
        <div class="comments" id="comments">
          <h4>＜コメント一覧＞</h4>
          <% @comments.each do |comment| %>
            <%= render "comments/comment", post: @post, comment: comment %>
          <% end %>
        </div>
        </div>
      </div>
    </div>
  </div>
<%= render "shared/footer"%>
